<!DOCTYPE html>
<html>
<head>
  <link href="#" rel="stylesheet"/>
</head>
<body>
<div class="h1">
      <h1>Welcome with Django data visualization</h1>
</div>
<div class="h2">
	 <div class="h21">
		<div class="h211"><a href="#">Home</a></div>
		<div class="h211"><a href="#">Analysis</a></div>
	</div>
                <div class="h22">
                                 <div class="h211">&nbsp;</div>
		<div class="h211"><a href="#">About us</a></div>
                 </div>
</div>
<div class="center"><a href="#">Piechar</a></div>
<div class="center"><a href="#">Bar</a></div>
<div  class="center"><a href="#">Scater</a></div>
</div>
<div class="center1"><a href="#">Reliance Stock Price</a></div>
</body>
</html>
